# user generate file
*.user

# Deubg Folder
build-Project2_Group16-Desktop_Qt_5_12_12_MinGW_32_bit-Debug/
build-Project2_Group16-Desktop_Qt_5_12_12_MinGW_64_bit-Debug/
build-Project2_Group16-Desktop_Qt_5_12_12_MinGW_64_bit-Release/
build-Project2_Group16-Desktop_Qt_5_12_12_MSVC2017_32bit-Debug